manifest.yml
target/
.mvn/
mvnw*
config/application.properties
src/main/resources/application.properties
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
